@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:100,200,300,400,500,600,700|Oswald:100,200,300,400,500,600,700&display=swap');


/* Nav */

/* Cover photo */

.cover-photo {
    background: url("../images/monkees.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    height: 400px;
    margin-top: 50px;
}

/* About */

#about {
    width: 100vw;
    margin: 0;
    padding: 25px;
}

.about-overview {
    text-align: center;

}

.profile-photos-list {
    display: inline-block;
    padding: 0;
    margin: 0;
    text-align: center;
}

.image-circle {
    display: inline-block;
    position: relative;
    width: 180px;
    height: 180px;
    overflow: hidden;
    border-radius: 50%;
    transform: scale(.75);
}


.profile-photo {
    width: auto;
    height: 100%;
    margin-left: -53px;
}




/* Music */

#music {
    width: 100vw;
    margin: 0;
    padding: 25px;
    background-color: grey;
}

.music-links {
    padding: 0;
    margin: 0;
    text-align: center;

}

.music-item {
    background-color: #b3c3c3;
    min-height: 135px;
    min-width: 135px;
    max-height: 135px;
    max-width: 135px;
    text-align: center;
    padding: 0;
    margin: 25px;
    border-radius: 4%;
}

.music-item a {
    display: block;
    text-decoration: none;
    text-align: center;
}

.music-item a i {
    color: #fafafa;
    text-decoration: none;
    text-align: center;

}

.fa-play {
    height: 20px;
    width: 20px
}

/* Contact */

#contact {
    width: 100vw;
    margin: 0;
    padding: 25px;
}

.contact-pitch {
    font-size: 22px;
    padding: 50px 25px 50px 25px;
}

.contact {
    padding: 25px 15px 25px 15px;
}

/* Albums */

#albums {
    background-color: #fafafa;
    margin: 0;
    padding: 25px;

}

.album-covers {
    text-align: center;
}


#button-modal-album {
    background: url("../images/album2.jpg");
    height: 160px;
    width: 160px;
    opacity: 0.7;
    font-weight: 500;
    margin: 25px;

}

#button-modal-album:hover {
    opacity: 1;
}

#button-modal-album2 {
    background: url("../images/album.jpg");
    height: 160px;
    width: 160px;
    opacity: 0.7;
    font-weight: 500;
    margin: 25px;

}

#button-modal-album2:hover {
    opacity: 1;
}


/* Footer - Social Links */

footer {
    background-color: grey;
    min-height: 130px;
    text-align: center;
    padding-top: 40px;
}



.social-links li a i {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 15px 0;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    margin-left: 65px;
}

.social-links li a i:hover {
    background: #fafafa;
    color: #8f8f8f;
}


/* Media Queries */
